@import "fonts.css";
@import "nullstyle.css";

* {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
}

html {
  font-size: 1.2vw;
  color: #CCC;
}

body {
  font-size: 1rem;
  background: #1E1E23;
}

div.main {
  width: 100%;
}

div.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align: center;
  background-color: #24242A;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  width: 60%;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
}

div.line {
  margin: 1rem 0 1rem 0;
  height: 0.1rem;
  width: 31rem;
  background: #CCC;
  margin-left: 17rem;
}

a {
  text-decoration: none;
  color: #CCC;
}

a.back {
  position: fixed;
  top: 1rem;
  left: 2rem;
  width: 7rem;
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

a.back:hover {
  box-shadow: 0 0 1rem 0 rgba(0,0,0,.3);
  transform: translateY(-0.1rem);
}

img.back {
  height: 1rem;
  width: 1rem;
}

h1 {
  margin-top: 0.5rem;
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
  font-style: italic;
}

div.title {
  padding: 0.5rem 3rem 1rem 3rem;
  text-align: center;
  font-weight: 400;
  background-color: #2E2E36;
  width: fit-content;
  margin: 0 auto 0 auto;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
}

div.preferences {
  background-color: #24242A;
  margin-top: 1rem;
  padding: 2rem;
  border-radius: 3rem;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #2E2E36;
  border-radius: 3rem;
  box-shadow: .2rem .2rem .5rem 0 rgba(0,0,0,.2);
  width: 18rem;
  height: 18rem;
}

button:hover {
  background: #393942;
}

button:active {
  transform: translateY(0.5rem);
}

div.button {
  height: 80%;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

img.door {
  transform: translateY(0.9rem);
}

img.other {
  transform: translateY(0.5rem);
}

img {
  height: 10rem;
  width: 10rem;
}

div.floors {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #24242A;
  padding: 2rem;
  border-radius: 3rem;
}

div.floor {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.scheme_images {
  display: flex;
  width: 24rem;
  justify-content: space-between;
}

div.scheme h4 {
  margin-bottom: 1rem;
  text-align: center;
}

div.scheme img {
  width: 10.5rem;
  height: 10.5rem;
}

div.floor_preferences {
  width: 50%;
}

div.floors h4 {
  font-style: italic;
}

div.choose_color {
  display: flex;
  justify-content: left;
  align-items: center;
}

button.choose_color img {
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  pointer-events: none;
}

button.choose_color {
  width: 3rem;
  height: 3rem;
  position: relative;
  border-radius: 1rem;
  pointer-events: none;
  margin-left: 1.5rem;
}

input[type="color"] {
  position: relative;
  right: 3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  cursor: pointer;
  opacity: 0;
}

div.floor_preferences h4 {
  font-style: normal;
}

div.auto_light, div.light_on {
  margin-top: 0.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

div.auto_light {
  margin-top: 3rem;
}

div.auto_light input[type="checkbox"].toggle, div.light_on input[type="checkbox"].toggle {
  margin-left: 1.5rem;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

input[type="checkbox"]:focus {
  outline: 0;
}

input[type="checkbox"].toggle {
  height: 2rem;
  width: 3rem;
  border-radius: 1.5rem;
  position: relative;
  border: 0.1rem solid #2E2E36;
  background: #1E1E23;
  transition: all .2s ease;
}
input[type="checkbox"].toggle:after {
  content: '';
  position: absolute;
  top: 0.15rem;
  left: 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #CCC;
  transition: all 0.2s cubic-bezier(0.5, 0.1, 0.75, 1.35);
}

input[type="checkbox"].toggle:checked {
  border-color: #CCC;
}

input[type="checkbox"].toggle:checked:after {
  transform: translateX(0.95rem);
}

div.open_door {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 3rem;
}

button.open_door {
  padding: 0 1rem 0 1rem;
  width: fit-content;
  height: 3rem;
  margin-left: 1.5rem;
}

button.open_door:active {
  transform: translateY(0.2rem);
}

div.preferences.door {
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: space-around;
}

div.door_condition {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

div.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 1rem auto 0 auto;
  height: 1.5rem;
}

div.option:first-child {
  margin-top: 0;
}

div.value {
  display: flex;
  align-items: center;
}

div.preferences.other {
    display: block;
}
