<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>PredProf SmartHouse</title>
  </head>
  <body>
    <div class="main">
      <div class="container">
        <header>
          <a href="home.html" class="back">
            Назад
          </a>
          <a href="home.html">
            <h1>PredProf SmartHouse</h1>
          </a>
          <div class="line">
          </div>
        </header>
        <div class="title">
          <h2>Освещение</h2>
        </div>
        <div class="floors">
          <div class="first">
            <h3>Первый этаж</h3>
            <div class="scheme">

            </div>
          </div>
          <div class="second">
            <h3>Второй этаж</h3>
            <div class="scheme">

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
