<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
      <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>PredProf SmartHouse</title>
  </head>
  <body>
    <div class="main">
      <div class="container">
        <header>
          <a href="/" class="back">
            <img src="../static/img/arrow.png" alt="Image Not Found" class="back">
            <h4>Назад</h4>
          </a>
          <a href="/">
            <h1>PredProf SmartHouse</h1>
          </a>
        </header>
        <div class="title">
          <h2>Освещение</h2>
        </div>
        <div class="floors">
          <div class="floor first">
            <h4>Первый этаж</h4>
            <div class="scheme">
              <img src="../static/img/first_floor.png" alt="Image Not Found">
            </div>
            <div class="floor_preferences">
              <div class="choose_color">
                <h4>Выберите цвет</h4>
                <button class="choose_color"><img src="../static/img/light.png" alt="Image Not Found"></button>
                <input type="color" id="1">
              </div>
              <div class="auto_light">
                <h4>Автоматическое включение/выключение света</h4>
                <input type="checkbox" class="toggle" checked>
              </div>
            </div>
          </div>
          <div class="floor second">
            <h4>Второй этаж</h4>
            <div class="scheme">
              <img src="../static/img/second_floor.png" alt="Image Not Found">
            </div>
            <div class="floor_preferences">
              <div class="choose_color">
                <h4>Выберите цвет</h4>
                <button class="choose_color"><img src="../static/img/light.png" alt="Image Not Found"></button>
                <input type="color" id="2">
              </div>
              <div class="auto_light">
                <h4>Автоматическое включение/выключение света</h4>
                <input type="checkbox" class="toggle" checked>
              </div>
            </div>
        </div>
      </div>
    </div>
    <script src="../static/js/scripts.js"></script>
  </body>
</html>
