<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>PredProf SmartHouse</title>
  </head>
  <body>
    <div class="main">
      <div class="container">
        <header>
          <a href="home.html" class="back">
            <img src="../static/img/arrow.png" alt="Image Not Found" class="back">
            <h4>Назад</h4>
          </a>
          <a href="home.html">
            <h1>PredProf SmartHouse</h1>
          </a>
        </header>
        <div class="title">
          <h2>Другие устройства</h2>
        </div>
        <div class="preferences other">
            <div class="option">
                <h4>Температура</h4>
                <div class="value">
                    <h3>21</h3>
                    <h3>°C</h3>
                </div>
            </div>
            <div class="option">
                <h4>Влажность</h4>
                <div class="value">
                    <h3>55</h3>
                    <h3>%</h3>
                </div>
            </div>
            <!-- <div class="option">
                <h4>Влажность</h4>
                <div class="value">
                    <h3>55</h3>
                    <h3>%</h3>
                </div>
            </div> -->
            <br><br><br>
            <div class="option">
                <h4>Обогрев</h4>
                <div class="value">
                    <input type="checkbox" class="toggle">
                </div>
            </div>
            <div class="option">
                <h4>Охлаждение</h4>
                <div class="value">
                    <input type="checkbox" class="toggle">
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/scripts.js"></script>
  </body>
</html>
